node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
build
.env
.env.*
src/uploads
src/images
.git
.github
.vscode
.idea
tmp
temp
logs
.adminjs
socket.io
*.db
*.sqlite*
data
mongodb-data
*.log
*.bak
*.zip
*.tar.gz